#message {
	color: blue;
	font-size: 150%;
	background-color: gray;
}
.odd{
	background-color: black;
}
p {
	color: orange;
}
span {
	color: green;
}
div p {
	color: yellow;
	background-color: red;
}
