#message {
	color:#00CC00 !important;
	font-family:verdana;
	} 
	
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #00CC00 !important;
}

h2 {
    color: gray;
}

body {
	background-color: #006633 !important;
}

h3 {
	font-weight: bold;
}
