/*here is an external example*/

#message {color:blue;}
h1, h2, small {color: orange;}
h1 span{color:red;font-size:200%;}
span{color:green;}
p {color:purple;}
div p {color: navy}
.odd { background-color:aqua;}
