ul.polaroids li {

 background-color: white;
 width: 200px;
 height: 225px;
 margin: 30px;
 float: left;
 list-style-type: none;
 text-align: center;

}

img {

 height: auto;
 max-width: 90%;
 min-width: 90%;
 margin-top: 10px;

}


ul.polaroids li {

 -webkit-transform: rotate(-2deg);
 -moz-transform: rotate(-2deg);
 -webkit-transition: -webkit-transform .15s linear;
 -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
 -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);


}

ul.polaroids li:nth-child(even) {

 -webkit-transform: rotate(2deg);
 -moz-transform: rotate(2deg);

}

ul.polaroids li#placeholder {

 opacity: 0;

}

ul.polaroids li:hover {

 -webkit-transform: scale(1.25);
 -moz-transform: scale(1.25);
 position: relative;
 z-index: 5;

}
