\
html{
 background-color: #FAFAFF;
 color: #0A0A0F;
 text-align: center;
}
.header{
  color: white;
  background-color: #00001F;
  font-size: 50px;;
}
table{
 background-color: #FFA500;
 color: #101020;
 width: 20%;
 margin-right:40%;
 margin-left:40%;
}
img{
  width: 10%;
}
.left{
  float: left;
}
.right{
  float: right;
}
/* colors differne headers when hovered over*/
h1:hover{
  color: blue;
}
h2:hover{
  color: blue;
}
h3:hover{
  color: blue;
}
h4:hover{
  color: blue;
}
h5:hover{
  color: blue;
}
h6:hover{
  color: blue;
}
/*<<<<<<Style for Exercise02*/
#message{
  color: red;
  font-size: 200%;
  background-color:green;
}
[title] {
cursor: help;
padding-bottom: 3px;   
border-bottom: 2px dotted blue;           
text-decoration: none;
}
a.hover{
background-color: red;
}
.odd{
  background-color: yellow;
}
p		{color:orange;}
div p	{color: purple;}
span	{color: purple;}
p span	{color: brown;}
h2		{color:yellow;}
/*Style for Exercise02>>>>>>*/
