#message {
		color: red;	/*This message id is always in a */
		font-size:200%
}
.odd {
	background-color: yellow;
}
p{
	color: orange;
}
span{
	color: pruple;
}
p span {
	color: brown;	
}

div p {
	color: purple;
}
h2{
	color: yellow;
}
