h1 {
	color: rgb(20,120,255);
}

li span {
	color: rgb(200,200,0);
}

ul {
	color: cyan;
	background: white;
	border: 2px solid green;
}

span span {
	color: black;
}

body {
	font-size: 20;
}

.test2 {
	font-family: Consolas;
	text-transform: uppercase;
	color: rgb(0,0,0);
}

#test3 {
	font-size: 40;
	color: red;	
}
.a .b .c .d .e .f .g .h .i .j .k .l{
color:blue;
}

 ul {
	color: rgb(255,150,0) !important;
}

body {
	background-image: url('http://stream1.gifsoup.com/view2/3934654/jiraiya-s-hands-o.gif');
	background-repeat: repeat;
}
