#wrapper {
    width: 100%;
    height: 100%;
}
.columnal {
    float: left;
    min-height: 700px;
    width: 250px;
}
#leftbar {
    position:fixed;
    height: 100%;
    width: 15%;
    background-color: black;
}
ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}
a {
    color: lightblue;
    display: block;
    font-style: smallcaps;
    text-align: center;
    text-transform: uppercase;
}
a:visited, a:hover {
    background-color: darkblue;
    color:white;
}
.side_title{
    color:Black;
    background-color: lightblue;
    font-weight: bold;
    text-align:center;
}

