ul.polaroids a {
-webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

ul.polaroids li:nth-child(even) {
 -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

ul.polaroids a:hover {
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  position: fixed;
  z-index: 10;

}

ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
ul.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}
 ul {
 list-style-type: none;
padding:20;
margin:20;
}
p a,li a{color:#7E3200;}

.row{
	overflow:visible
}

.project-header{
margin-bottom:1em;
}

.polaroids li:nth-child(n+5){
	display:none;
}

ul.polaroids li{display:inline;}

@font-face {
	font-family: HW_PermMarker;
	src: url('../../../webfonts/PermMarker.woff');
}
.polaroids {
	font-family:HW_PermMarker;
}
ul.polaroids a{
	background:#fff;
	display:inline;
	float:left;
	margin:0 0 27px 30px;
	width:auto;
	padding:10px 10px 15px;
	text-align:center;
	font-family: HW_PermMarker;
	text-decoration:none;
	color:#333;
	font-size:18px;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,.25);
	-webkit-transform:rotate(-2deg);
	-webkit-transition:-webkit-transform .15s linear;
	-moz-transform:rotate(-2deg);
}

ul.polaroids li{
	padding-left:0;
}

ul.polaroids img{
	display:block;
	width:190px;
	margin-bottom:12px;
}

ul.polaroids a:after{
	content:attr(title);
}

ul.polaroids li:nth-child(even) a{
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
}

ul.polaroids li:nth-child(3n) a{
	-webkit-transform:none;
	position:relative;
	top:-5px;
	-moz-transform:none;
}

ul.polaroids li:nth-child(5n) a{
	-webkit-transform:rotate(5deg);
	position:relative;
	right:5px;
	-moz-transform:rotate(5deg);
}

ul.polaroids li:nth-child(8n) a{
	position:relative;
	right:5px;
	top:8px;
}

ul.polaroids li:nth-child(11n) a{
	position:relative;
	left:-5px;
	top:3px;
	}
/* makes smaller borders for organic feel*/
ul.polaroids li.messy a{
	margin-top:-400px;
	position:relative;
	left:160px;}

ul.polaroids li a:hover{
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,.5);
	position:relative;z-index:5;
}
