table, th, td { 
	border: 1px solid black;
	border-collapse: collapse;
	color: green;
 }
table td:nth-child(even){
	font-style: italic;
	font-weight: bold;
 }
table td:nth-child(odd){
	font-weight: bold;
	text-align: center;
}

body {
	background-color: black;
}

table tr:nth-child(odd) td:nth-child(even) {
	background-color: gray;
}
table tr:nth-child(even) td:nth-child(even) {
	background-color: white;
}
table tr:nth-child(even) td:nth-child(odd) {
	background-color: gray;
}
table tr:nth-child(odd) td:nth-child(odd) {
	background-color: white;
}

tr.highlight {
	background-color:red;
	color: black;
}

.mouseoverBackground {
	background-color:red;
	color: black;
}