h1{
	color:red;
	text-align:center;
	font-family: aldoregular;
	font-weight: normal;
	
}
h2{
	color:black;
	text-align:center;
}
ul{
	color:black;
}
li span{
	color:orange;
}
span span{	/* Test 1: Specificity */
	color:purple;
}
span span span{
	color:yellow;
}
.class1{
	color: red;
}
#list2{
	color:gray;
}
.class1 span{
	color:fuchsia;
}
#lastItem{
	color: orange;
}
#lastItem{
	color: purple;
}
#another{
	color:yellow !important;
}
#headerThree{
	margin-left:1em;
}
#author{
	margin-left:1em;
}
html{
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 15%, #666666 30%, #474747 47%, #2b2b2b 76%, #1c1c1c 91%, #2c2c2c 100%, #000000 100%, #111111 100%, #2c2c2c 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(15%,#595959), color-stop(30%,#666666), color-stop(47%,#474747), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#2c2c2c), color-stop(100%,#000000), color-stop(100%,#111111), color-stop(100%,#2c2c2c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 15%,#666666 30%,#474747 47%,#2b2b2b 76%,#1c1c1c 91%,#2c2c2c 100%,#000000 100%,#111111 100%,#2c2c2c 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 15%,#666666 30%,#474747 47%,#2b2b2b 76%,#1c1c1c 91%,#2c2c2c 100%,#000000 100%,#111111 100%,#2c2c2c 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 15%,#666666 30%,#474747 47%,#2b2b2b 76%,#1c1c1c 91%,#2c2c2c 100%,#000000 100%,#111111 100%,#2c2c2c 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 15%,#666666 30%,#474747 47%,#2b2b2b 76%,#1c1c1c 91%,#2c2c2c 100%,#000000 100%,#111111 100%,#2c2c2c 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
background-repeat:no-repeat;
height: 100%;
}
body{
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

background-repeat:no-repeat;
}
@font-face {
    font-family: 'aldoregular';
    src: url('../../aldo/Aldo_Open-webfont.eot');
    src: url('../../aldo/Aldo_Open-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aldo/Aldo_Open-webfont.woff') format('woff'),
         url('../../aldo/Aldo_Open-webfont.ttf') format('truetype'),
         url('../../aldo/Aldo_Open-webfont.svg#aldoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a:-webkit-any-link {
  color: white;
  cursor: auto;
}
a:-webkit-any-link:hover{
  color: red;
  cursor: auto;
}
.navbar {
  position: relative;
  min-height: 25px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(56,56,56,1) 0%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(102,102,102,1)), color-stop(0%,rgba(71,71,71,1)), color-stop(0%,rgba(56,56,56,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(56,56,56,1) 0%,rgba(17,17,17,1) 60%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(56,56,56,1) 0%,rgba(17,17,17,1) 60%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(56,56,56,1) 0%,rgba(17,17,17,1) 60%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(56,56,56,1) 0%,rgba(17,17,17,1) 60%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

  }
.container{
	margin-left:0%;
}
.btn:hover {
  color: white;
  text-decoration: none;
}
#date{
	text-align:right;
	color: white;
}