	#banner {
			width: 800px;        /* Size of images, will collapse without */
			height: 300px;
			position: relative;  /* For abs. positioning inside */
			border: 8px solid #eee;
			-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
		}
		
		#banner div {
			position: absolute; /* Top and left zero are implied */
		}
		
		/* Second one is on top */
		#banner div:nth-child(2) {
			-webkit-animation: wipe 6s infinite;
			-webkit-animation-delay: 3s;
			-webkit-animation-direction: alternate;
			-webkit-mask-size: 2000px 2000px;
			-webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
					color-stop(0.00,  rgba(0,0,0,1)),
					color-stop(0.45,  rgba(0,0,0,1)),
					color-stop(0.50,  rgba(0,0,0,0)),
					color-stop(0.55,  rgba(0,0,0,0)),
					color-stop(1.00,  rgba(0,0,0,0)));
		}
		@-webkit-keyframes wipe {
			0% {
				-webkit-mask-position: 0 0; /* Implied normally, but needed for animation */
			}
			100% {
				-webkit-mask-position: -1200px -1200px;
			}
		}
		
		#rollover {
			width: 250px;
			height: 250px;
			position: relative;
			border: 8px solid #eee;
			-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
		}
	
		#rollover div {
			position: absolute;
			top: 0;
			left: 0;   
		}
		
		#rollover div:nth-child(2) {
			-webkit-transition: -webkit-mask-position 1s ease;		
			-webkit-mask-size: 600px 600px;
			-webkit-mask-image: -webkit-gradient(linear, left top, right top, 
					color-stop(0.00,  rgba(0,0,0,1)),
					color-stop(0.35,  rgba(0,0,0,1)),
					color-stop(0.50,  rgba(0,0,0,0)),
					color-stop(0.75,  rgba(0,0,0,0)),
					color-stop(1.00,  rgba(0,0,0,0)));
		}
		
		#rollover div:nth-child(2):hover {
			-webkit-mask-position: -300px -300px;
		}
.done-true{
	text-decoration: line-through;
	color:gray;
}
.done-false{
	color:red;
}
.trashBtn{
	margin-top: 2em;
	margin-left: 2em;
}
#controller{
	margin-left: 2em;
}
#practice{
	margin-left: 2em;	
}

thead{
	background-color: gray;
	color: black;
	font-weight:bold;
}
tr :hover{
	background-color:lightgray;
	color: red;
}
html{
	background-color:lightgray;
}
#clearBtn{
	color:black;
	margin-left: 1em;
	width:100px;
	height:50px;
}
body{
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
}
#header{
	text-align:center;
}
#trashBtn{
	color:black;
	width:100px;
	height:50px;
}
.mypanel {
height:240px;
    overflow-y: scroll;
}
body{
	background-color:black;
}
.page-header{
	color:white;
	background-color:black;
}
.panel3{
	height:240px;
    overflow-y: none;
	right: 2em;
	background-color:red;

}
.panel3Div{
	width:323px;
	margin-left: 7em;
} 
h1{
color:black;
}
.container{
	background-color:gray;
}
#slideHeader{
	color:red;
}
#loc{
	color:black;
}
p{
	color:black;
}
#page-wrap{
	right:20em;
}
	