body {
	width: 100%;
	font-family: sans-serif;
}

.appBar {
	width: 100%;
	background-color: #222222;
	margin: 0px 0px 3px 0px;
	padding: 3px;
	color: ghostwhite;
	font-size: 20px;
}

.appBar ul { 
	list-style-type: none; 
	margin: 2px 0px 3px 0px;
	padding: 2px;
	
}

.appBar li { 
	border-style: solid;
	border-color: #222222;
	border-width: 1px;
	border-radius: 2px;
	display: inline;		
	padding: 3px 6px 5px 6px;
}

.appBar a {
	text-decoration: none;
	color: ghostwhite;
}

.appBar li:hover {
	border-color: #444444;
}

.appBar li:active {
	border-color: #666688;
}

.appBar .spacer {
	content: '';	
	padding: 0px;
	width: 1px;
	border-width: 1px;
	border-style: solid;
	margin: 0px 1px 0px 1px;
	border-left-color: #606061;
	border-top-color: #606061;
	border-right-color: #A0A0A2;
	border-bottom-color: #A0A0A2;	
}

.appBar .spacer:hover {
	border-left-color: #606061;
	border-top-color: #606061;
	border-right-color: #A0A0A2;
	border-bottom-color: #A0A0A2;	
}