#message {
			color:red; /* the message id is always in a paragraph */
			font-size: 200%;
		}
.odd{
	background-color:yellow;
}
p {
	color:orange;
}
span {
	color:purple
	}
p span {
	color:brown
}
div p {
	color:purple;
}
h2{
	color:blue;
}
[title] {
 cursor: help;
 padding-bottom: 3px;
 border-bottom: 2px dotted blue;
 text-decoration: none;
  }
a:hover{
	background-color:red;
}
.table-striped>tbody>tr:nth-of-type(odd){
	background-color:pink !important;
	}
	