
<!DOCTYPE html>
<!-- 

Code from https://gist.github.com/MrSaints/8874103

-->
<html ng-app>
<head>
    <title>Add / List Data (AngularJS)</title>
    <style>
		body { text-align:center }
	    .list_data { margin-bottom: 2rem }
	    table, th, td { border: 1px solid #AAA }
	    th { cursor: pointer }
    </style>
</head>
  
<body ng-controller="RecordCtrl"  style="background:#6699cc;font:100 1.75em helvetica neue, helvetica,arial,verdana,sans-serif;color:#fff">
    <div class="list_data">
        <h1>Garret Ranck</h1>
		<h2>Program 5 AngularJS</h2>
        <table align = "center">
            <tr>
                <th ng-click="type = 'name'; reverse = !reverse">Name</th>
                <th ng-click="type = 'genre'; reverse = !reverse">Genre</th>
                <th ng-click="type = 'platforms'; reverse = !reverse">Platforms</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="record in records | orderBy:type:reverse">
                <td>{{record.name}}</td>
                <td>{{record.genre}}</td>
                <td>{{record.platforms}}</td>
                <td><button ng-click="Delete($index)">Delete</button></td>
            </tr>
         
        </table>
        <button ng-show="history.length > 0" ng-click="Undo()">Undo Delete</button>
    </div>
  
    <div class="add_data">
        <h1>Add Data</h1>
        <form ng-submit="Add()">
            <div class="field">
                <label for="name">Name: </label>
                <input id="name" type="text" placeholder="Name" maxlength="15" ng-model="newName">
            </div>
            <div class="field">
                <label for="genre">Genre: </label>
                <input id="genre" type="text" placeholder="Genre" maxlength="15" ng-model="newGenre">
            </div>
            <div class="field">
                <label for="platforms">Platforms: </label>
                <input id="platforms" type="text" placeholder="Platforms" maxlength="15" ng-model="newPlatforms">
            </div>
            <div class="action">
                <button type="submit">Add</button>
                <button ng-click="Reset()">Reset</button>
            </div>
        </form>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
	<script type="text/javascript" src="../Snowstorm/snowstorm.js"></script>
	<script>
	function RecordCtrl ($scope) {
        // Historical data
        $scope.history = [];

        // Default data (can be loaded from a database)
		$scope.records = [
			{ name: 'Halo 3', genre: 'Action', platforms: 'Xbox 360'},
			{ name: 'Rocket League', genre: 'Scifi/Sports', platforms: 'PC, PS4'},
			{ name: 'CS: GO', genre: 'Action', platforms: 'PC'},
		];

        $scope.Delete = function (index) {
		//****************************************************************
		// Purpose: Delete list row via delete button
		// Input: index
		// Pre: Row items exists to delete
		// Output: none.
		// Post: The selected row is deleted from list
		// Note: none.
		//*****************************************************************
            // Remove first / oldest element from history if it reaches maximum capacity of 10 records
            if ($scope.history.length === 10)
                $scope.history.shift();
            // Add deleted record to historical records
            $scope.history.push($scope.records[index]);

            // Remove from main records (using index)
            $scope.records.splice(index, 1);
        };

        // Reset new data model
        $scope.Reset = function () {
		//****************************************************************
		// Purpose: Reset variable to load in next input
		// Input: none
		// Pre: Site loaded correctly
		// Output: none.
		// Post: Reset variable to load in next input
		// Note: none.
		//*****************************************************************
            $scope.newName = '';
            $scope.newGenre = '';
            $scope.newPlatforms = '';
        }
        $scope.Reset();

        // Add new data
        $scope.Add = function () {
		//****************************************************************
		// Purpose: Add new row 
		// Input: none
		// Pre: User inputs data and clicks add
		// Output: none.
		// Post: Row is added to list and displayed in table
		// Note: none.
		//*****************************************************************
            // Do nothing if no state is entered (blank)
            if (!$scope.newName)
                return;

            // Add to main records
            $scope.records.push({
                name: $scope.newName,
                genre: $scope.newGenre,
                platforms: $scope.newPlatforms,
                include: false
            });

            // See $Scope.Reset...
            $scope.Reset();
        }

        // Undo action (delete)
        $scope.Undo = function () {
		//****************************************************************
		// Purpose: Undo last delete on list via Undo button
		// Input: none
		// Pre: Row exists to delete
		// Output: none.
		// Post: Previous row is "un-deleted"
		// Note: none.
		//*****************************************************************
            // Add last / most recent historical record to the main records
            $scope.records.push($scope.history[ $scope.history.length - 1 ]);

            // Remove last / most recent historical record
            $scope.history.pop();
        }
		
	}
	</script>
</body>
</html>