.card-container{
	perspective: 700;
}

.card{
	margin:250px;
	background: #5677fc;
	height: 200px;
	width: 200px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.card:hover{
	transform:rotateY(180deg);
}