@charset "UTF-8";

img {

  height: 100%;
  width: 100%;

}

/* WIDE -- styles for screens larger than 801px wide */

@media screen and (min-width: 801px) {

body {
}

#wrapper {
	width: 80%;
	min-width: 700px;
	max-width: 1000px;
	padding: 3em;
	margin: 0 auto;
	float: center;
}

#header {
	background-color: green;
	height: 130px; /* gpcorser:2015-06-11 from video */
	background-image: url(http://csis.svsu.edu/~gpcorser/cis255/gpcorser/june11/banner-wide.png); /* gpcorser:2015-06-11 from video */
	background-repeat: no-repeat; /* gpcorser:2015-06-11 from video */
	background-position: center; /* gpcorser:2015-06-11 from video */
}

#content {
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

#footer {
	
}
#farleftcolumn, #farrightcolumn,
#leftcolumn, #middlecolumn, #rightcolumn {
    float: left;
    min-height: 1000px;
	width: 150px;
	padding: 10px;
}
#farleftcolumn {
    background-color: rgb(200,200,200);
}
#leftcolumn {
    background-color: rgb(225,225,225);
}
#middlecolumn {
    background-color: rgb(200,200,200);
}
#rightcolumn {
    background-color: rgb(225,225,225);
}
#farrightcolumn {
    background-color: rgb(200,200,200);
}

} /* End @media WIDE */


/* styles for screens less than than 801px wide */

@media screen and (max-width: 801px) {

body {
}

#wrapper {
	width: 80%;
	min-width: 400px;
	max-width: 750px;
	padding: 3em;
	margin: 0 auto;
}

#header {
	background-color: aqua;
	height: 130px; /* gpcorser:2015-06-11 from video */
	background-image: url(http://csis.svsu.edu/~gpcorser/cis255/gpcorser/june11/banner-medium.png); /* gpcorser:2015-06-11 from video */
	background-repeat: no-repeat; /* gpcorser:2015-06-11 from video */
	background-position: center; /* gpcorser:2015-06-11 from video */
}

#content {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

#footer {
	
}

} /* End @media */


/* styles for screens less than 480px wide */

@media screen and (max-width: 480px) {

body {
}

#wrapper {
	width: 80%;
	min-width: 200px;
	max-width: 400px;
	padding: 3em;
	margin: 0 auto;
}

#header {
	background-color: yellow;
	height: 130px; /* gpcorser:2015-06-11 from video */
	background-image: url(http://csis.svsu.edu/~gpcorser/cis255/gpcorser/june11/banner-small.png); /* gpcorser:2015-06-11 from video */
	background-repeat: no-repeat; /* gpcorser:2015-06-11 from video */
	background-position: center; /* gpcorser:2015-06-11 from video */
}

#content {
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

#footer {
	
}

} /* End @media */
