html, body {

 margin: 0;
 padding: 0;

}

.wrap{

 position: relative;
 margin: 0 auto;
 height: 4em;
 width: 100%;

}

.wide-header{

 float: left;
 min-width: 100%;
 background-color: gray;

}

#menu {

 width: 75%;
 height 100%;
 margin-left: 25%;

}

h2 {

 text-align: center;

}

a {

 position: fixed;
 right: 50%;
 bottom: 50%;

}

#body {
 
 background-color: #e7d9aa;

}

#leftCol, #rightCol, #centerCol{

 width: 30%;
 display: table-cell;
 float: left;
 height: 100%;
 max-width: 300px;
 min-width: 250px;

}

#leftCol {

 background-color: #f6f5fb;
 margin-left: 3%;
}

#centerCol{


}

#rightCol{

 background-color: #f6f5fb;
 margin-right: 3%;

}

