html, body {

 margin: 0;
 padding: 0;

}

.wrap{

 position: relative;
 margin: 0 auto;
 height: 4em;
 width: 100%;

}

.wide-header{

 float: left;
 min-width: 100%;
 background-color: gray;

}



h2 {

 text-align: center;

}

#content {

 max-width: 885px;
 min-width: 275px;
 margin: 0 auto;

}

#leftCol, #rightCol, #centerCol{

 width: 30%;
 display: table-cell;
 float: left;
 height: 100%;
 width: 275px;
 padding: 10px;

}

#leftCol {

 background-color: #f6f5fb;

}

#centerCol{

 background-color: #e7d9aa;

}

#rightCol{

 background-color: #f6f5fb;

}

