html, body {

 background-color: #aaa;
 width: 100%;
 margin: 0;
 padding: 0;
 height: 100%;

}

.container-fluid {

 padding: 0px;

}

#title {

 margin: 0 auto;
 height: 80px;
 width: 100%; 
 text-align: center;
 color: black;
 font-size: 450%;
 font-t-text-fill-color: white; /* Will override color */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;

}

.wide-header{

 width: 100%;
 background-color: #eee;
 border-bottom: 1px solid black;

}

h2 {

 text-align: center;

}

#content {

 max-width: 885px;
 min-width: 275px;
 margin: 0 auto;
 padding-bottom: 100px;
}

#leftCol, #rightCol, #centerCol{

 padding: 10px;

}

#leftCol {

 background-color: #ccc;

}

#centerCol{

 background-color: #bbb;

}

#rightCol{

 background-color: #ccc;

}

