	.table-striped> tbody > tr:nth-of-type(odd) {
		background-color: pink !important; 
	}
	.odd {
			background-color: yellow; /**/
	} 
	#message {
			color: red; /* the message id isalways in a paragraph */
			font-size: 200%;
			background-color: green;
	}
	p {
			color: orange; /**/
	}
	span {
			color: purple; /**/
	}
	
	div p{
			color: purple; /**/
	}
	h2{
			color: yellow; /**/
	}
	p span{
			color: brown; /**/
	} 
	[title] {
			cursor: help;
			padding-bottom: 3px;
			border-bottom: 2px dotted blue;
			text-decoration: none;
	}
